* {
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family:cursive;
}
p{
    color: #7B7AB3;
}
/* header section css */
.navbar{
    height: 100px;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
}
.brand{
    height: 100%;
    margin-left: 80px;
    display: flex;
}
.brand-image{
    height: 100%;
}
.brand-title{
    line-height: 100px;
    margin-left: 15px;
}
.nav{
    display: flex;
    align-items: center;
    /* margin-right: 50px; */
    padding:20px;
}
.nav-item{
    margin-left: 15px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    padding: 20px;
    color: white;
}
.nav-link:hover{
    color: blueviolet;
}

.header-container {
    height: 700px;
    width: 100%;
    background-image: linear-gradient(to top, #fff 20%, rgba(105, 90, 166, 0.20) 70%, rgba(105, 90, 166, 0.8) 100%),url(../img/banner/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Footer section start */
footer {
    width: 100%;
    height: 570px;
    margin-top: 50px;
    background-color: black;
}

.footer-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.contact {
    width: 320px;
}

.newsletter {
    width: 325px;
}

.newsletter h2 {
    padding: 10px;
    font-size: 25px;
}

.newsletter input {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.newsletter-btn {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid #40248B;
    border-radius: 5px;
    text-decoration: none;
    color: #40248B;
    background-color: #fff;
    display: inline-block;
}
.newsletter-btn{
    margin-left: 10px;
}
.newsletter-btn:hover{
    color: #fff;
    background-color: #40248B;
    border: 1px solid #fff;
}

.contact h1 {
    padding: 10px 0px;
}

.contact p {
    padding: 10px 0px;
    font-size: 16px;
    line-height: 26px;
}

.link {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}